@media only screen and (min-width: 1200px){
    body{
        width: 100%;
        height: 100vh;
        background-image: url(/src/components/assets/home/background-home-desktop.jpg);
        background-position: center;
        background-size: cover;
    }

    header{
        padding: 40px;
    }

    .explore{
        width: 100%;
        display: flex;
        padding: 100px;
        margin-top: -120px;
    }

    .about{
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        width: 50%;
    }

    .question{
        color:rgb(179, 179, 179) ;
        font-size: 40px;
        
    }

    .space{
        font-size: 150px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .description{
        width: 500px;
        color:rgb(179, 179, 179) ;
        font-size: 15px;
        font-family: 'Josefin Sans', sans-serif;
        text-align: left;
    }

    .start{
        width: 250px;
        height: 240px;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        margin-top: 135px;
        margin-left: 300px;
        padding: 80px;
    }
   .as{
       font-size: 50px;
       margin-left: -40px;
   }

   .explore_link{
    color: rgb(114, 114, 114);
    outline: none;
    text-decoration: none;
    margin-top: 50px;
   }

   .explore_link:hover{
    color: rgb(114, 114, 114);
    transform: rotate(360deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
   }
   
}

@media only screen and (max-width: 600px) {
    body{
        width: 100%;
        height: 100vh;
        background-image: url(/src/components/assets/home/background-home-mobile.jpg);
        background-position: center;
        background-size: cover;
    }

    .explore_link{
        color: rgb(114, 114, 114);
        outline: none;
        text-decoration: none;
        margin-top: 50px;
       }

    .navbar-toggler{
     outline: none;
    }

    .navbar-toggler-icon{
        outline: none;
    }

     .explore{
        width: 100%;
       text-align: center;
    }

    .about{
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        margin-top: 60px;
    }

    .question{
        color:rgb(179, 179, 179) ;
        font-size: 30px;
        width: 100%;  
    }

    .space{
        font-size: 90px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .description{
        width: 90%;
        color:rgb(179, 179, 179) ;
        margin: auto auto;
        font-size: 20px;
    }

    .start{
        width: 250px;
        height: 240px;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        margin: auto auto;
        margin-top: 40px;
        padding: 70px;
    }

    .as{
        text-transform: lowercase;
        font-size: 50px;
        margin-left: -40px;
    }
}